* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    width: 100%;
    height: 100%;
    background-color: bisque;
}


header {
    width: 100%;
    text-align: center;
    margin: 10px;
}

header h1 {
    text-transform: uppercase;
    padding: 10px;
    font-size: 50px;
    font-weight: 900;

}

#selection select {
    padding: 10px 15px;
    width: 200px;
    border-radius: 10px;
}

#selection input {
    padding: 10px 15px;
    width: 200px;
    border-radius: 10px;

}

footer {
    width: 100%;
}

footer button {
    padding: 10px 15px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 10px;
    background-color: darkgreen;
    border: none;
    color: #fff;
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    padding: 10px;
}

.div {
    width: 270px;
    height: 300px;
    background: linear-gradient(to top, rgb(226, 226, 226), rgb(161, 161, 161));
    text-align: center;
    padding: 20px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: all .2s linear;
    box-shadow: 0px 3px 16px -5px black;
}

.div:hover {
    background: linear-gradient(to top, rgb(109, 0, 0), rgb(255, 115, 0));
    color: white;
    box-shadow: 0px 2px 13px -1px rgb(0, 48, 137);

}

.image {
    width: 80%;
    height: 90%;
    object-fit: contain;
    padding: 5px;
}

.error{
    font-size: 30px;
    font-weight: 600;
}
